$container: 1292;
$padding: 30;
$containerWithPadding: $container + ($padding * 2);

$color: var(--color);
$dark: var(--dark);
$accent: var(--accent);
$light: var(--light);
$light-elevation: var(--light-elevation);
$light-background: var(--light-background); 